body>div{
 width: 300px;
}

input{
  float:left;
  border: 1px solid black;
  height: 50px;
}

.header input{
  width: 100%;
  text-align:right;
  background-color: #EBEBE4;
  box-sizing: border-box;
}

div.header{
}

div.numberFields{
  width:100%;
}

.numberFields input{
  box-sizing: border-box;
  width: 33.333%;
  background-color: #96AB98;
}

.numberFields input:last-child{
  width: 100%;
}

div.operations{
}

.operations input{
  width: 25%;
  background-color:#AB96A9;
 }

 div.sum{
  clear:both;
}

.sum input{
  width: 100%;
  background-color:#AB96A9;
}
