body>div{
 width: 350px;
}

div>div{
  padding-top: 5px;
}

input{
  float:left;
  border: 1px solid black;
  height: 50px;
  color:black;
}

.header input{
  width: 100%;
  text-align:right;
  background-color: #EBEBE4;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 3px;
}

div.numberFields{
  width:100%;
  clear:both;
}

.numberFields input{
  box-sizing: border-box;
  width: 33.333%;
  background-color: #96AB98;
}

.numberFields input:last-child{
  width: 100%;
}

div.operations{
  clear:both;
}

.operations input{
  width: 25%;
  background-color:#AB96A9;
}

div.sum{
  clear:both;
}

.sum input{
  width: 100%;
  background-color:#AB96A9;
}
