body>div{
  width: 600px;
}

input{
  float:left; /* otherwise the buttons have some space between them */
}

.header input{
  width: 100%;
}

div.numberFields{
  width:90%;
  float:left;
}

.numberFields input{
  box-sizing: border-box;
  width: 33.333%;
}

.numberFields input:last-child{
  width: 100%;
}

div.operations{
  width:10%;
  float:left;
}

.operations input{
  width: 100%;
}

div.sum{
  clear:both;
}

.sum input{
  width: 100%;
}
